body {
    height: 100% auto;
    width: 100% auto;
    margin: 0;
}

#background {
    background: url('./image/myBgImg.jpg');
    height: 1200px;
}

#newTitle {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #BB6CE5;
    margin: auto;
    width: 35%;
    text-align: center;
}

#instruction {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #1F1226;
    margin: auto;
    width: 20%;
    text-align: center;
    background-color: white;
    border: 5px solid #BB6CE5;
    border-radius: 20px;
}

#container {
    height: 600px;
    width: 500px;
    border: 20px solid #BB6CE5;
    border-radius: 20px;
    position: relative;
    margin: auto;
    background: url('./image/containerImg.png');
    overflow: hidden;
}

#nyan {
    position: absolute;
    background: url('./image/catNyan.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    top: 200px;
    left: 10%;
}
/*########## WALL ONE ##########*/
.wallOne {
    position: absolute;
    width: 55px;
    right: -50px;
    border-radius: 5px;
    background: url('./image/walls.png');
}

#topWallOne {
    top: 0;
    height: 100px;
}

#bottomWallOne {
    bottom: 0;
    height: 320px;
}
/*########## WALL TWO ##########*/
.wallTwo {
  position: absolute;
  width: 55px;
  right: -500px;
  border-radius: 5px;
  background: url('./image/walls.png');
}

#topWallTwo {
    top: 0;
    height: 340px;
}

#bottomWallTwo {
    bottom: 0;
    height: 80px;
}
/*########## WALL END ##########*/
#buttonOne {
    text-align: center;
    margin: 25px;
}

#buttonTwo {
  text-align: center;
  margin: 25px;
}

#startButton {
    border: 5px solid #BB6CE5;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #1F1226;
    cursor: pointer;
    text-align: center;
}

#restartBttn {
    border: 5px solid #BB6CE5;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #1F1226;
    cursor: pointer;
    text-align: center;
}

#scoreDiv {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #BB6CE5;
    text-align: center;
    margin: 5px;
}

.scSpd {
    color: #FF4066;
}
