body {
    height: 100% auto;
    width: 100% auto;
    margin: 0;
}

#background {
    background: url('./image/myBgImg.jpg');
    height: 750px;
}

#newTitle {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #BB6CE5;
    margin: auto;
    width: 35%;
    text-align: center;
}


#container {
    height: 600px;
    width: 500px;
    border: 20px solid rgba(187, 108, 229, 0.8);
    background-clip: padding-box;
    border-radius: 20px;
    position: relative;
    margin: auto;
    background: url('./image/containerImg.png');
    overflow: hidden;
}

#nyan {
    position: absolute;
    background: url('./image/catNyan.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    top: 200px;
    left: 10%;
}

#instruction {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #1F1226;
  margin: auto;
  width: 350px;
  top: 100px;
  left: 80px;
  text-align: center;
  background-color: #C7C3C7;
  border: 5px solid #BB6CE5;
  border-radius: 20px;
  position: absolute;
}

#restartBttn {
  border: 5px solid #BB6CE5;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #1F1226;
  cursor: pointer;
  text-align: center;
  top: 250px;
  left: 180px;
  position: absolute;
  display: none;
}
/*########## WALL ONE ##########*/
.wallOne {
    position: absolute;
    width: 55px;
    right: -50px;
    border-radius: 5px;
    background: url('./image/walls.png');
}

#topWallOne {
    top: 0;
    height: 100px;
}

#bottomWallOne {
    bottom: 0;
    height: 320px;
}
/*########## WALL TWO ##########*/
.wallTwo {
  position: absolute;
  width: 55px;
  right: -500px;
  border-radius: 5px;
  background: url('./image/walls.png');
}

#topWallTwo {
    top: 0;
    height: 340px;
}

#bottomWallTwo {
    bottom: 0;
    height: 80px;
}
/*########## WALL END ##########*/
/*#buttonOne {
    text-align: center;
    margin: 25px;
}*/

#buttonTwo {
  text-align: center;
  margin: 25px;
}


#scoreDiv {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #BB6CE5;
    text-align: center;
}

.scSpd {
    color: #FF4066;
}
