body {
    height: 100%auto;
    width: 100%auto;
    margin: 0;
}

#background {
    background: url('http://wallpapercave.com/wp/SZdhPUH.jpg');
    height: 1200px;
}

#newTitle {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #BB6CE5;
    margin: auto;
    width: 35%;
    text-align: center;
}

#instruction {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #BB6CE5;
    margin: auto;
    width: 35%;
    text-align: center;
}

#container {
    height: 600px;
    width: 800px;
    border: 20px solid #BB6CE5;
    border-radius: 20px;
    position: relative;
    margin: auto;
    background: url('http://orig11.deviantart.net/9369/f/2014/100/9/f/space_by_littlefiredragon-d7dz6nj.png');
    overflow: hidden;
}

#nyan {
    position: absolute;
    background: url('http://www.mersenneforum.org/avatars/avatar13483_8.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    top: 200px;
    left: 10%;
}

.wall {
    position: absolute;
    /*height: 225px;*/
    width: 55px;
    right: -50px;
    border-radius: 5px;
    background: url('http://piq.codeus.net/static/media/userpics/piq_142658_400x400.png');
}

#topWall {
    top: 0;
    height: 90px;
}

#bottomWall {
    bottom: 0;
    height: 300px;
}

#buttonOne {
    text-align: center;
    margin: 25px;
}

#buttonTwo {
  text-align: center;
  margin: 25px;
}

#startButton {
    border: 5px solid #BB6CE5;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #1F1226;
    cursor: pointer;
    text-align: center;
}

#restartBttn {
    border: 5px solid #BB6CE5;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #1F1226;
    cursor: pointer;
    text-align: center;
}

#scoreDiv {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #BB6CE5;
    text-align: center;
    margin: 5px;
}

.scSpd {
    color: #FF4066;
}
